.buttongen {
    position: absolute;
}
.animg {
    margin: 5px;
}
.jumbotron {
    background-color: black;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(0, 54, 231);
    border-bottom: 2px solid rgb(0, 54, 231);
}
.btn {
    background-color: black;
    color: rgb(0, 54, 231);
    font-family: 'Source Sans Pro', sans-serif;
    border: 2px solid rgb(0, 0, 0);
}
.btn:hover {
    background-color: rgb(0, 54, 231);
    color: white;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    border: 2px solid rgb(0, 0, 0);
}
body {
    background-color: black;
}
h4,
p {
    color: rgb(0, 54, 231);
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}